@import "tailwindcss";

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background: #000;
    user-select: none;
}

#root {
    height: 100%;
}

.loading-text {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    color: #999;
    background: linear-gradient(90deg,
            #999 0%,
            #fff 50%,
            #999 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -200% center;
    }

    100% {
        background-position: 200% center;
    }
}