html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0!important;
    padding: 0!important;
    columns: 1;
    column-gap: 0;
    color: #FFF;
    background: #000;
    user-select: none;
}

@media (min-width: 1000px) {
    body {
        columns: 2;
    }
}

*:has(> img) {
    overflow: hidden;
}

svg {
    max-width: 100%;
    max-height: 96vh;
    width: auto;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto!important;
}

body>div:empty,
body>div:has(> a:only-child) {
    height: auto !important;
}

table th,
table td {
    background: transparent!important;
}

p,
table,
div,
span {
    user-select: auto;
}

#book-resize-probe {
    position: fixed;
    left: -9999px;
    top: -9999px;
    height: 4em;
    width: 10em;
    box-sizing: border-box;
    pointer-events: none;
    border: 1px solid #FFF;
    z-index: 9999999;
}

#book-font-props-probe {
    position: fixed;
    left: -9999px;
    top: -9999px;
    margin: 0;
    box-sizing: border-box;
    font: inherit !important;
    line-height: inherit !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    pointer-events: none;
    color: #FFF !important;
    border: 1px solid #FFF;
    z-index: 9999999;
}