html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    color: #FFF;
    background: #000;
    user-select: none;
}

a {
    color: #FFF;
}